$navColor: rgb(31, 31, 31);
$fontColor: white;
$mainColor: rgb(83, 150, 154);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
}

/* remaking the navbar */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navColor;
  color: $fontColor;
}

.navigation h1 {
  padding: 0.5rem 1.5rem;
  font-size: 21px;
  font-weight: bold;
  color: $fontColor;
}

.nav_links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_links li {
  position: relative;
  list-style: none;
  margin-right: 1rem;
}

.nav_links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-size: 20px;
}

.navigation ul li a::after {
  content: "";
  position: absolute;
  left: 8px;
  bottom: 12px;
  width: 60%;
  height: 1.5px;
  margin-left: 0.5rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
  background-color: $mainColor;
}

.navigation ul li a:hover::after {
  transform: scaleX(1);
}

.nav_links ul li ul {
  display: none;
  background-color: $navColor;
  border-radius: 0 0 0.7rem 0.7rem;
  padding: 0.3rem 0.2rem;
}

.nav_links ul li:hover ul {
  display: block;
  position: absolute;
}

.nav_links ul li ul li {
  width: 150px;
}

.nav_links ul li ul li a::after {
  content: "";
  position: absolute;
  left: 7px;
  bottom: 10px;
  width: 80%;
  height: 1.5px;
  margin-left: 0.5rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
  background-color: $mainColor;
}

.nav_links ul li ul li a:hover::after {
  transform: scaleX(1);
}

.hamburger {
  position: absolute;
  color: $fontColor;
  display: none;
  top: 27px;
  right: 25px;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 3rem 0;
  padding: 0 70px;
}

.about {
  margin-top: 2rem;
  text-align: center;
}

.about h1 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.about p {
  font-size: 18px;
  line-height: 2rem;
  margin: auto;
  text-align: center;
  width: 75%;
  line-height: 2.3rem;
  padding: 0 1.5rem;
}

.picture {
  align-self: center;
}

.me {
  width: 250px;
  height: 270px;
  border-radius: 70%;
  margin: auto;
}

.icons {
  text-align: center;
  margin-top: 3rem;
  word-spacing: 3.5rem;
}

.github {
  color: $mainColor;
  font-size: 40px;
  text-decoration: none;
}

.github:hover {
  color: $navColor;
  transition-duration: 500ms;
}

.linkedin {
  color: $mainColor;
  font-size: 40px;
  text-decoration: none;
}

.linkedin:hover {
  color: $navColor;
  transition-duration: 500ms;
}

.instagram {
  color: $mainColor;
  font-size: 40px;
}

.instagram:hover {
  color: $navColor;
  transition-duration: 500ms;
}

@media (max-width: 1080px) {
  .about h1 {
    font-size: 35px;
  }

  .about p {
    font-size: 20px;
    width: 75%;
  }

  .me {
    border-radius: 70%;
  }

  .icons {
    margin-top: 3rem;
    word-spacing: 5rem;
  }
}

@media (max-width: 768px) {
  .navigation h1 {
    padding-top: 1.5rem;
    padding-bottom: 1.1rem;
    font-size: 20px;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_links {
    display: none;
    width: 100%;
  }

  .nav_links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav_links ul li a {
    padding: 0.7rem 1rem;
    text-align: center;
  }

  .nav_links.active {
    display: flex;
  }

  .nav_links ul li ul {
    display: none;
  }

  #dropdown_works {
    justify-content: center;
  }

  #dropdown_list {
    position: absolute;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    left: 9px;
  }

  #dropdown_list.active {
    display: flex;
  }

  .nav_links ul li a::after {
    content: "";
    display: none;
  }

  .nav_links ul li ul li a::after {
    content: "";
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .about p {
    font-size: 21px;
    width: 95%;
  }

  .about h1 {
    margin-left: 1rem;
  }
}

@media (max-width: 480px) {
  .navigation h1 {
    font-size: 18px;
    padding-top: 1.2rem;
    padding-bottom: 1.3rem;
  }

  .nav_links ul li a {
    font-size: 20px;
  }

  .nav_links ul li ul li a {
    font-size: 20px;
  }

  .hamburger {
    top: 25px;
  }

  .container {
    padding: 0;
  }

  .about h1,
  .about p {
    text-align: center;
    line-height: 2.5rem;
    width: 90%;
  }

  .about p {
    margin-top: 1.5rem;
  }

  .me {
    width: 230px;
    height: 250px;
    margin-top: 1.3rem;
  }

  .icons {
    word-spacing: 2.5rem;
  }
}
